.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  max-width: 100%;
  width: 50vw;
  display: block;
  padding: 10px 20px;
  margin: 30px auto;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #6b6868;
  box-sizing: border-box;
}

button {
  background-color: rgb(127, 187, 248);
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 160px;
  margin:  0 auto;
}